*{
  box-sizing: border-box;
  margin: 0;
}

.App{
  position: relative;
}

/* LEVEL SELECT */

.level-card--container{
  display:flex;
}

.level-card{
  border: 1px solid black;
  border-radius: 1rem;
  padding: 0.125rem 1rem;
  text-align: center;
}

.level-card--img{
  width: 165px;
  max-width: 100%;
}

/* GAME */

.scoreDisplay{
  width: 100%;

  position: fixed;
  top: 0;

  background-color: rgba(0, 0, 0, 0.75);

  color: #fff;
  text-align: center;
  user-select: none;
}

.game-img{
  width: 100%;
  max-width: 970px;
  user-select: none;
}

.selector{
  width: 150px;

  position: absolute;
  top: 0;
}

.selector--container{
  display: flex;
  flex-direction: column;
}

.selector--button{
  height: 20px;
  border: none;
  background-color: white;
}

.selector--button:hover{
  background-color: beige;
}