*{
  box-sizing: border-box;
}

body {
  margin: 0;
}

img{
  width: 100%;
  max-width: 970px;
  user-select: none;
}

.App{
  position: relative;
}

.scoreDisplay{
  width: 100%;

  position: fixed;
  top: 0;

  background-color: rgba(0, 0, 0, 0.75);

  color: #fff;
  text-align: center;
  user-select: none;
}

.selector{
  width: 150px;

  position: absolute;
  top: 0;
}

.selector--container{
  display: flex;
  flex-direction: column;
}